@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3%;
    text-align: center;
    gap: 10px;
    
}
html{
    background-color: black;
}
body{
    background-color: white;
    margin: 10%;
    padding: 3%;
    border-radius: 10px 10px 0px 0px;
}